<section id="welcome">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <img src="{{ cover }}" alt="Welcome to the PHP App" class="img-fluid">
            </div>
            <div class="col-lg-6">
                <h1>Welcome to the PHP App</h1>
                <p>This is a simple PHP application that uses the MVC pattern. It is a starting point for building a PHP application from scratch.</p>
                <h2>What is MVC?</h2>
                <p>MVC stands for Model-View-Controller. It is a design pattern that separates the application into three main components: the model, the view, and the controller.</p>
                <h2>What is this application using?</h2>
                <p>This application is using the following technologies:</p>
                <ul>
                    <li>PHP</li>
                    <li>Twig</li>
                    <li>Bootstrap</li>
                    <li>jQuery</li>
                </ul>
        </div>
    </div>
</section>